<% layout("/layouts/boilerplate.ejs") -%>
    <style>
        .dashboardCard {
            border: 2px solid black;
            border-radius: 16px;
            overflow-y: hidden;
        }
    </style>

    <body>
        <h2>Welcome to Your DashBoard</h2>
        <div class="container">
            <div class="row mb-3 " style="height: 40vh;">
                <div class="col ms-3 dashboardCard bg-light">
                    <h2>Inventory Updates </h2>

                    <ul class="row">
                        <% for(item of Items) { %>

                            <li>
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    Low Stock Alert:<a href="/inventory/new?name=<%=item.productName%>" class="col-6">
                                        <%=item.productName%>
                                    </a> is running low.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>
                            </li>

                            <% } %>
                    </ul>
                </div>
            </div>
    </body>